# SQL Part 3 Exercises Joins

This notebook works with the BooksDB dataset.  

**Questions 1-4** focus on how joins work in a more general sense.  If you are not sure how to best answer the questions, try manipulating the queries by changing the order of joins, the length of the TOP, or how they are ordered.  

> <span style="background-color: rgba(127, 127, 127, 0.1);"><i>Note</i>: If some of the queries are not returning quickly, you can try closing and restarting azure data studio after a few minutes.</span>

In **questions 5-8**, you will be asked to join tables to find results about titles, tags, and the books users want to read.

As you go through the questions, you will see 'Minimum Desired Output'.  This will provide you with the bare minimum columns needed to answer the questions.  When you write the queries, add as many additional columns as you need to best find your answers.

## **QUESTION 1:**  Exploring a LEFT JOIN using the **books** and **to\_read** tables

The code block below has been commented out. To answer this question, you will need to uncomment it by removing the **/\*** (line 1) and **\*/** (line 16).

**Part A:** Look at Query 1, which table is the 'Left' table and which is the 'Right'?

> Your Answer: Left Table apppears to include Title, Average_Rating, and Books_Count. The Right table appears to be the title and user_id.

**Part B:** Using table 2, answer the following questions: 

- When we added a  '**WHERE tr.user\_id IS NOT NULL'** clause (line 14), how did the table change?  Why?

> Your Answer: It removed all null entries deleting that entire entry row data including title, average_rating and books_count. This remomved any row that did not include a user_id.

In [23]:
/*
-- Query 1: LEFT JOIN 
SELECT TOP 50 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
LEFT JOIN BooksDB.dbo.to_read AS tr
ON b.best_book_id = tr.book_id
ORDER BY b.average_rating;

-- Query 2: LEFT JOIN USING 'IS NOT NULL'
SELECT TOP 50 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
LEFT JOIN BooksDB.dbo.to_read AS tr
ON b.best_book_id = tr.book_id
WHERE tr.user_id IS NOT NULL
ORDER BY b.average_rating;
*/

## **QUESTION 2:** Exploring **RIGHT** joins with the **books** and **to\_read** tables

You will need to uncomment the Query to answer the question.

**Part A:** Looking at the query, which table is the 'Left' and which is the 'Right'?

> Your Answer: Left: includes the title, average_rating, and books count
Right: includes user_id and book_id

**Part B:** How do the RIGHT-joined tables differ from the LEFT-joined tables in Question 1?  

> Your Answer: The null entries appear on the left instead of on the right.

In [24]:
/*
-- Query 1: RIGHT JOIN
SELECT TOP 300 b.title, b.average_rating, b.books_count, tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
RIGHT JOIN BooksDB.dbo.to_read AS tr
ON b.best_book_id = tr.book_id;
*/

## **QUESTION 3:** Exploring FULL JOINS with the **books** and **to\_read** tables

You will need to uncomment the Query to answer the question.

**Part A:**  Look at the table and explore how it was populated.  Try manipulating the query to better understand how this table works.  Try adding a WHERE clause, or ORDER BY a column on the **books** table.  Based on your exploration, can you think of when you might want a FULL join rather than a LEFT, RIGHT, or INNER?

> Your Answer: Unable to add order by or where on the code below.

In [25]:
/*
-- FULL JOIN
SELECT TOP 30 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
FULL JOIN BooksDB.dbo.to_read AS tr
ON b.book_id = tr.book_id;
# */ added this below:
# ORDER BY b.average_rating;

## **QUESTION 4:** Exploring INNER Joins with the **books** and **to\_read** tables

You will need to uncomment the Query to answer the question.

**Part A:**  What does an inner join do? It does not save any information that is null.

> <span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">Your Answer:</span>

<span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;"><b>Part B:</b>&nbsp;Currently this table has an <b>'IS NOT NULL'</b> in the <b>WHERE</b> clause.&nbsp; Is this necessary for this table?&nbsp; Why or Why not?&nbsp;</span> 

> Your Answer: Not necessary for the inner join process.

**Part C:**  When using SQL, you are usually returning much larger tables so every line of code will add to the compilation and return time.  Rewrite this inner join query so that it contains no redundant code.   

> Your Answer:  Update the query in the code box below.

SELECT TOP 30 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
INNER JOIN BooksDB.dbo.to_read AS tr
ON b.book_id = tr.book_id
ORDER BY tr.book_id;

In [26]:
/*
-- INNER JOIN
SELECT TOP 30 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
INNER JOIN BooksDB.dbo.to_read AS tr
ON b.book_id = tr.book_id
WHERE b.title IS NOT NULL
ORDER BY tr.book_id;
*/

## **QUESTION 5:**  Using joins to find the most tagged book and the most popular tag

We will be writing 3 queries to find both the most tagged book and that book's most popular tag.

**Part A:**  What is the most tagged book?

Start by joining the tables ON the books.best_book_id and book_tags.goodreads_book_id.&nbsp;&nbsp;<br></span> <span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">We want the <i>most popular</i> book, so think about ordering the table in a way that will display both the book title and the number of times a book tag has been used.</span>
> 
> _MInimum Desired output:_  The title of the most tagged book, and the number of times the book has been tagged.
> 
> **Title:** Harry Potter and the Half Blood Prince

**Part B:** How many different tags have been used for the most tagged book?

21 tags for The Big Nowhere

> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);">Start by joining the&nbsp;</span> **books** <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);">and&nbsp;</span> **book\_tags** <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);">&nbsp;tables ON the books.best_book_id and book_tags.goodreads_book_id.&nbsp;&nbsp;<br></span> We want to find the _most popular_ tag id, so think about ordering in a way that will display the most popular tag id.
> 
> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);"><i>Minimum Desired Output:</i> The tag id for the most popular tag used for the most tagged book.&nbsp;</span> 
> 
> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);"><b>Tag Id:</b></span>

<span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);"><b>Part C: </b>What is this particular tag?</span>

> You may return this answer with a simple query. Most popular tag ID: 0

> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);"><i>Minimum Desired Output:</i>&nbsp;The tag name for the most popular tag used for the most tagged book.&nbsp;</span> 
> 
> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);"><b>Tag Name:</b></span>

In [27]:
-- Code Here:

## **QUESTION 6:** Find a book based on a tag of your choice using joins.

Some suggestions: any hobbies you like? baking, drawing, etc. how about favorite holidays, subjects, animals, etc?

**Part A:** Explore the tags table for a tag of your choice.  Suggested ideas, try searching for one of your hobbies, a favorite time of year, favorite animal, etc.  Start by querying the tag table for your chosen tag.  (_Hint:_ in order to make sure you find all combinations of your tags, use the wildcard).  If your query returns more than one result, pick your favorite.

> > _Here is an example.  Alyce wanted to search for halloween books.  She used the wildcard, '%halloween%' and 8 different combinations were found.  Alyce selected '**halloween-storytime**', with a tag id of 13877._

> _Minimum Desired Output:_ <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);">tag name and tag id</span>

> **Your Tag and Tag Id:**

**Part B:** Now that you have the **tag id**, find the title that was tagged the most with this tag by joining the books and books\_tags tables.

> > _Alyce joined the book table with the tags table and discovered that <u>The Little Old Lady Who Was Not Afraid of Anything</u> was tagged as '**halloween-storytime**' the most._

> _Minimum Desired Output:_ <span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">title and tag count</span>

> **Your Title and Number of times the tag was used:**

In [28]:
-- Code Here:

## **QUESTION 7:** What are the top 10 most popular book titles on the 'to read' list?

**Part A:**  Explore how the **to\_read** and **books** tables are organized, and then join them.  What will you use as a key?

> Your Answer: Harry Potter #6

**Part B:** Organize your newly joined table in a way that groups popularity based on the title based on users.

> _Hint:_ Suggest using an alias for the aggregation you will need to run on the **user\_id**

> _Minimum Desired Output:_ title and aliased column

In [29]:
-- Code Here:
SELECT TOP 10 b.title, b.average_rating, b.best_book_id, tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
RIGHT JOIN BooksDB.dbo.to_read AS tr
ON b.best_book_id = tr.book_id
ORDER BY tr.book_id

## **QUESTION 8:** Largest 'To Read' Lists

**Part A:**  Create a query that returns a table that contains the top 10 users with the most number of titles on their 'to read' list.    Group all the entries by user\_id.  

> _Hint:_ You might want an alias for the titles.
> 
> _Minimum Desired Output:_  user\_id and your aliased column of titles.

**Part B:**  The longest list length is 15 titles total, and is shared by 4 different users.  Select one of the uses and print out their entire '**to read**' list.

In [30]:
-- Code Here: Children of Dune (book id: 112)